language: rust
rust: stable
sudo: false

services:
  - docker
  
before_script:
  - export PATH=$HOME/.cargo/bin:$PATH

script:
  - cargo build --release

#after_success:
  #- docker build -t warnp/siteus .
  #- if [ "$TRAVIS_BRANCH" == "master" ]; then
  #  docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
  #  docker push warnp/siteus;
  #  fi
before_deploy:
  - git config --local user.name "$GW_USERNAME"
  - git config --local user.email "$GW_USERNAME@gmail.com"

deploy:
  provider: release
  file_glob: true
  file: target/release/*
  user: "$GH_USERNAME"
  password: "$GH_PASSWORD"
  skip_cleanup: true
  overwrite: true
