language: rust
rust: nightly
sudo: false

services:
  - docker
  
before_script:
  - export PATH=$HOME/.cargo/bin:$PATH

before_install:
  - cargo build --release
  - docker build .
  
after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push warnp/siteus;
    fi
