body {
    /*background-color: rgb(50, 50, 50);*/
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #333333;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 1em;
}

.container {
    left: 20%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.content {
    grid-column: 2/4;
    grid-row: 1;

}

.text-container {
    grid-column: 1/3;
    grid-row: 1;
}

.photo-container.trio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/3;
    grid-row: 2;
}

.photo-container.duo {
    display: grid;
    /*grid-template-columns: repeat(2,1fr);*/
    grid-column: 1/3;
    grid-row: 1;
}

.photo-container.solo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/3;
    grid-row: 1;
}

.photo1.trio {
    grid-column: 1;
    grid-row: 1;

}

.photo2.trio {
    grid-column: 2;
    grid-row: 1;
}

.photo3.trio {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 200% !important;
}

.photo1.duo {
    grid-column: 1;
    grid-row: 1;

}

.photo2.duo {
    grid-column: 2;
    grid-row: 1;
}

.photo1.solo {
    grid-column: 1/2;

    width: 200% !important;

}

.text-content {
    text-align: justify;
    color: #333;
    margin-bottom: 1.6em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;

}

.super-item {
    padding: 5px;
    margin-top: 10px;
}

.item {
    height: auto;
    width: 99%;
    margin-bottom: 3px;
    transition: grid-column 0.5s, width 0.5s, box-shadow 0.5s;
    z-index: 0;
}

.item:hover {
    z-index: 9999;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.8);
    cursor: pointer;

}

body {
    /*position: absolute;*/
    /*margin: 0;*/
    min-height: 100vh;
    max-height: 100vh;
}

.photo-presentation-container {
    z-index: 9999;
    top: 50%;
    left: 50%;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    display: flex;
    width: 0%;
    height: 0;
    padding: 0 8px;
    position: fixed;
    opacity: 0%;
    transition: all 0.5s;

}

.selected-photo-container {

    left: 0;
    top: 0;
    padding: 8px;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 100%;
    transition: all 0.5s;
}

.photo-presentation {
    width: 75%;
    z-index: 9999;
    flex: 0 0 auto;
    background-color: rgba(0, 0, 0, 0);

}

.gallery-container {
    width: 100%;
    height: 100%;
    position: inherit;
    background-color: rgba(0, 0, 0, 0.6);

}

.photo {
    text-align: center;
}

.photo img {
    text-align: center;
    -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.75);

}

.container-img {
    width: 100%;
    height: 720px;
}

.container-img img {
    width: auto;
    height: auto;
    max-width: 1024px;
    max-height: 720px;
}

.arrowRight {
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;

    border-left: 50px solid blue;
    display: inline-block;
    margin-left: 100px;
}

.arrowLeft {

    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;

    border-right: 50px solid blue;
    display: inline-block;
    margin-right: 100px;

}

.wrapper {
    text-align: center;
    background-color: aaa;
    bottom: 0;
    margin-top: 50px;
    position: absolute;
    width: 99%;
    height: 75px;
}

.gallery {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.control {
    align-self: center;
}

i {
    border: solid #242424;
    border-width: 0 30px 30px 0;
    display: inline-block;
    padding: 30px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.sidebar {
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    overflow: auto;
    /*background-color: aqua;*/
}

.author.cam {
    background-color: rebeccapurple;
}

.author.rom {
    background-color: dodgerblue;
}

.author-container {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.author {
    width: 20px;
    alignment: left;
    grid-column: 1;
}

.paragraph {
    grid-column: 2/4;
}

span.name {
    font-weight: bold;
}
