body {
    /*background-color: rgb(50, 50, 50);*/
    font-family: 'Open Sans', sans-serif;

}

h1 {
    color: #333333;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 1em;
}

.container {
    left: 20%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.content {
    grid-column: 2/4;
    grid-row: 1;

}


.text-container {
    grid-column: 1/3;
    grid-row: 1;
}

.photo-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column: 1/3;
    grid-row: 2;
}

.photo1 {
    grid-column: 1;
    grid-row: 1;

}

.photo2 {
    grid-column:2;
    grid-row: 1;
}

.photo3 {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 200% !important;
}

.text-content {
    text-align: justify;
    color: #333;
    margin-bottom: 1.6em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;

}

.super-item {
    padding: 5px;
    margin-top: 10px;
}

.item {
    height: auto;
    width: 99%;
    margin-bottom: 3px;

    /*height: 150px;*/
    /*flex-grow: inherit;*/
    /*align-self: auto;*/
    z-index: 0;
    transition: box-shadow 0.5s;
}

.item:hover {
    z-index: 9999;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.5s;

}

.photo {
    /*height: 80%;*/
    /*width: 80%;*/
    text-align: center;
}

.photo img {
    text-align: center;
    -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.75);

}

.container-img {
    width: 100%;
    height: 720px;
}

.container-img img {
    width: auto;
    height: auto;
    max-width: 1024px;
    max-height: 720px;
}

.arrowRight {
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;

    border-left: 50px solid blue;
    display: inline-block;
    margin-left: 100px;
}

.arrowLeft {

    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;

    border-right: 50px solid blue;
    display: inline-block;
    margin-right: 100px;

}

.wrapper {
    text-align: center;
    background-color: aaa;
    bottom: 0;
    margin-top: 50px;
    position: absolute;
    width: 99%;
    height: 75px;
}

.gallery {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.control {
    align-self: center;
}

i {
    border: solid #242424;
    border-width: 0 30px 30px 0;
    display: inline-block;
    padding: 30px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.sidebar {
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    overflow: auto;
    background-color: aqua;
}
