body {
  background-color: rgb(50, 50, 50);
}

.super-item {
  padding:5px;
  margin-top: 10px;
}

.item {
  height: 150px;
  flex-grow: inherit;
  align-self: auto;
  z-index: 0;
   transition: box-shadow 0.5s;
}

.item:hover{
  z-index: 9999;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.8);
  transition: box-shadow 0.5s;

}

.photo {
  /*height: 80%;*/
  /*width: 80%;*/
  text-align: center;
}

.photo img {
  /*height: 100%;*/
  /*width: 100%;*/
  min-height: 720px;
  max-height: 720px;
  text-align: center;
  -webkit-box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.75);

}

.arrowRight {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 10px solid blue;
  display: inline-block;
}

.arrowLeft {

  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid blue;
  display: inline-block;
  margin-right: 20px;

}

.wrapper{
  text-align: center;
}

.gallery{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
