body {
    /*background-color: rgb(50, 50, 50);*/
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow: hidden;
}

h1 {
    color: #333333;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 1em;
}

h2 {
    color: #333333;
    text-align: center;
}

header {
    border-bottom: 1px solid #ccc;
    height: 65px;
    position: absolute;
    top: 0;
    width: 100%;
}

header ul {
    float: none;
}

header li {
    float: left;
    display: block;
    padding: 10px;
    transition: all 0.5s;
    font-size: x-large;
}

header a {
    text-decoration: none;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
}

header li:hover {
    background-color: #333333;
}

header li:hover a {
    color: whitesmoke;
}

footer {
    text-align: center;
    position: relative;
    top: 45px;
    height: 100px;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    top: 56px;
    overflow-y: scroll;
    height: 100vh;
}

.content {
    grid-column: 1/5;
    grid-row: 1;

}

@media only screen and (min-width: 1024px) {
    .content {
        grid-column: 2/4;
        grid-row: 1;
    }


    h2 {
        text-align: left;
    }

    .underline {
        font-size: unset;

    }

    .text-container {
        margin: 0;
    }

    header li {
        font-size: unset;
    }

    header {
        height: 55px;

    }
}

.text-container {
    grid-column: 1/3;
    grid-row: 1;
    margin: 15px;
}

.photo-container.trio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/3;
    grid-row: 2;
}

.photo-container.duo {
    display: grid;
    grid-column: 1/3;
    grid-row: 1;
}

.photo-container.solo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/3;
    grid-row: 1;
}

.photo1.trio {
    grid-column: 1;
    grid-row: 1;

}

.photo2.trio {
    grid-column: 2;
    grid-row: 1;
}

.photo3.trio {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 200% !important;
}

.photo1.duo {
    grid-column: 1;
    grid-row: 1;

}

.photo2.duo {
    grid-column: 2;
    grid-row: 1;
}

.photo1.solo {
    grid-column: 1/2;

    width: 200% !important;

}

.text-content {
    text-align: justify;
    color: #333;
    margin-bottom: 1.6em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;

}

.super-item {
    padding: 5px;
    margin-top: 10px;
}

.item{
    height: auto;
    width: 99%;
    margin-bottom: 3px;
    transition: grid-column 0.5s, width 0.5s, box-shadow 0.5s;
    z-index: 0;
}

.item-gallery {
    height: 150px;
    margin-bottom: 3px;
    flex-grow: inherit;
    align-self: auto;
    transition: grid-column 0.5s, width 0.5s, box-shadow 0.5s;
    z-index: 0;
}

.item:hover {
    z-index: 9998;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.item-gallery:hover {
    z-index: 9998;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.presentor {
    z-index: 9997;
    background-color: rgb(50, 50, 50);

}

.empty-text {
    z-index: 9997;
    /*background-color: rgb(50, 50, 50);*/

}
body {
    /*position: absolute;*/
    /*margin: 0;*/
    min-height: 100vh;
    max-height: 100vh;
}

.photo-presentation-container {
    z-index: 9999;
    top: 50%;
    left: 50%;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    display: flex;
    width: 0%;
    height: 0;
    padding: 0 8px;
    position: fixed;
    opacity: 0%;
    transition: all 0.5s;

}

.selected-photo-container {

    left: 0;
    top: 0;
    padding: 8px;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 100%;
    transition: all 0.5s;
}

.photo-presentation {
    z-index: 9999;
    flex: 0 0 auto;
    background-color: rgba(0, 0, 0, 0);
}

.photo-presentation.landscape {
    width: 75%;

}

.photo-presentation.portrait {
    height: 80%;
    image-orientation: from-image;
}

.gallery-container {
    /*width: 100%;*/
    /*height: 100vh;*/
    /*position: absolute;*/
    /*z-index: 99999;*/
    /*background-color: rgba(0.2, 0.2, 0.2, 1.0);*/

}

.photo {
    text-align: center;
}

.photo img {
    text-align: center;
    -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.75);

}

.container-img {
    width: 100%;
    height: 720px;
}

.container-img img {
    width: auto;
    height: auto;
    max-width: 1024px;
    max-height: 720px;
}

.arrowRight {
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;

    border-left: 50px solid blue;
    display: inline-block;
    margin-left: 100px;
}

.arrowLeft {

    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;

    border-right: 50px solid blue;
    display: inline-block;
    margin-right: 100px;

}

.wrapper {
    text-align: center;
    background-color: aaa;
    bottom: 0;
    margin-top: 50px;
    position: absolute;
    width: 99%;
    height: 75px;
}

.empty-text.gallery
{
    width: 100%;
    /*height: 100vh;*/
    /*position: absolute;*/
    z-index: 9998;
    padding: 0;
    margin: 0;
    list-style: none;
    top: 0;
    /*transition: all 0.5s;*/
    /*overflow-y: scroll;*/
    /*left: 100%;*/
    image-orientation: from-image;

}

.presentor.gallery {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 9998;
    padding: 0;
    margin: 0;
    list-style: none;
    top: 0;
    left: 100%;
    transition: all 0.5s;
    overflow-y: scroll;
}

.gallery-bottom {
    height: 40px;
}

.gallery-button {
    left: 35%;
}

.inner-presentor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.control {
    align-self: center;
}

i {
    border: solid #242424;
    border-width: 0 30px 30px 0;
    display: inline-block;
    padding: 30px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.sidebar {
    width: 200px;
    position: fixed;
    left: 0;
    /*top: 0;*/
    height: 100vh;
    overflow: auto;
    /*background-color: aqua;*/
}

.author.cam {
    background-color: rebeccapurple;
}

.author.rom {
    background-color: dodgerblue;
}

.author-container {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.author {
    width: 20px;
    alignment: left;
    grid-column: 1;
    z-index: 9997;
    transition: all 0.5s;
}

.author:hover {
    width: 80px;
}

.author  .name{
    text-transform: capitalize;
    font-weight: 700;
    color: #cccccc;
    display: none;
    transition: all 0.5s;
}

.author:hover .name {
    display: block;
}

.paragraph {
    grid-column: 2/4;
}

span.name {
    font-weight: bold;
}

a.underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    color: dodgerblue;
    /*background-color: blue;*/
}

.underline.quit {
    left: 50%;
}

a.underline:hover:before {
    width: 100%;
}

a.underline:before {
    background-color: dodgerblue;
    content: '';
    height: 2px;
    position: absolute;
    bottom: -1px;
    transition: width 0.3s ease-in-out;
    width: 0;
}

a.next {
    float: right;
}

a.return {
    margin-top: 15px;
}

.lama path{
    stroke: dodgerblue !important;
    fill: white !important;
    transition: all 0.5s;
}

a.next:hover .lama path {
    fill: dodgerblue !important;
}

