<div class="inner-presentor">
    {{#each gallery}}
        <a class="super-item">
            <img class="item-gallery lazy photo-click" data-original="/content/images/{{this}}"
                 src="/content/images/min/{{this}}"/>
        </a>
    {{/each}}
</div>