<header>
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/peru">Pérou</a></li>
        <li><a href="/ny">New York</a></li>
        <li><a href="/cali">West coast</a></li>
    </ul>
</header>