<div class="text-container">
    <h2>{{title}}</h2>
    <div class="text-content short">
        {{#if paragraph.0.img1}}
            {{> photo img1=paragraph.0.img1 img2=paragraph.0.img2 img3=paragraph.0.img3}}
        {{/if}}
    </div>
    <a class="underline" href="{{presentation}}" id="{{id}}">Voir plus.</a>
</div>